@(pageValues : List[models.Contribution], contribution: models.Contribution, triggerContribution: Option[models.Contribution])(implicit lang: play.api.i18n.Lang)
@import play.api.i18n._
@import views.html.helper._
@import uk.gov.hmrc.play.views.html._
@import uk.gov.hmrc.play.views.html.helpers._
@import java.math.BigDecimal
@import models._

@defining(java.text.NumberFormat.getNumberInstance(java.util.Locale.UK)) { currencyFormatter =>
<table id="@if(contribution.isPeriod1){period1}else{@if(contribution.isPeriod2){period2}else{@(contribution.taxPeriodStart.year)}}" class="review">
    <thead>
    <tr>
        <th colspan="3" class="fullwidth">
        @if(contribution.isPeriod1) {@Messages("paac.review-amounts.heading.period",contribution.taxPeriodStart.year.toString(), (contribution.taxPeriodStart.year+1).toString(), 1)}
        @if(contribution.isPeriod2) {@Messages("paac.review-amounts.heading.period",contribution.taxPeriodStart.year.toString(), (contribution.taxPeriodStart.year+1).toString(), 2)}
        @if(!contribution.isPeriod1 && !contribution.isPeriod2) {@Messages("paac.review-amounts.heading",contribution.taxPeriodStart.year.toString(), (contribution.taxPeriodStart.year+1).toString())}
        </th>
    </tr>
    </thead>
    <tbody>
        @defining(contribution.amounts.get) { amounts =>
        @if(amounts.moneyPurchase.isDefined && contribution.taxPeriodStart.year >= 2015){
        <tr @if(contribution.moneyPurchase < 0) {class="form-field--error"}>
            @if(contribution.moneyPurchase < 0) {
            <td class="col1 error_color">@Messages("paac.review-amounts.heading.mp")</td>
            <td class="col2 numeric error_color">&pound;@(currencyFormatter.format(amounts.moneyPurchase.get/100D))</td>
            } else {
            <td class="col1">@Messages("paac.review-amounts.heading.mp")</td>
            <td class="col2 numeric">
            @if(triggerContribution.isDefined) {
                @if(triggerContribution.get.isPeriod1 && contribution.isPeriod1 ||
                    triggerContribution.get.isPeriod2 && contribution.isPeriod2 ||
                    triggerContribution.get.taxPeriodStart == contribution.taxPeriodEnd) {
                    &pound;@(currencyFormatter.format((amounts.moneyPurchase.get+triggerContribution.get.amounts.getOrElse(InputAmounts()).moneyPurchase.get)/100D))
                }else {
                    &pound;@(currencyFormatter.format(amounts.moneyPurchase.get/100D))
                }
            }
            </td>
            }
            <td class="col3 edit_action">
                @if(contribution.taxPeriodStart.year < 2015 || contribution.taxPeriodStart.year > 2015) {<a href="edit/@contribution.taxPeriodStart.year" data-journey-click="paac:click:edit_money_purchase_@contribution.taxPeriodStart.year">}
                @if(contribution.isPeriod1()) {<a href="edit/2015" data-journey-click="paac:click:edit_money_purchase_2015_p1">}
                @if(contribution.isPeriod2()) {<a href="edit/2015" data-journey-click="paac:click:edit_money_purchase_2015_p2">}
                 @Messages("paac.review-amounts.action.edit") <span class="visuallyhidden">@(contribution.taxYearLabel())</span>
                </a>
            </td>
        </tr>
        } @* End of defined contribution row *@

        @if(amounts.definedBenefit.isDefined){
        <tr>
            <td class="col1">@if(contribution.taxPeriodStart.year < 2015) { @Messages("paac.review-amounts.heading.total") } else { @Messages("paac.review-amounts.heading.db") }</td>
            <td class="col2 numeric">&pound;@(currencyFormatter.format(amounts.definedBenefit.get/100D))</td>
            <td class="col3 edit_action">
                @if(contribution.taxPeriodStart.year < 2015 || contribution.taxPeriodStart.year > 2015) {<a href="edit/@contribution.taxPeriodStart.year" data-journey-click="paac:click:edit_defined_benefit_@contribution.taxPeriodStart.year">}
                @if(contribution.isPeriod1()) {<a href="edit/2015" data-journey-click="paac:click:edit_defined_benefit_2015_p1">}
                @if(contribution.isPeriod2()) {<a href="edit/2015" data-journey-click="paac:click:edit_defined_benefit_2015_p2">}
                 @Messages("paac.review-amounts.action.edit") <span class="visuallyhidden">@(contribution.taxYearLabel())</span>
                </a>
            </td>
        </tr>
        }@* End of defined benefit row *@

        @if(amounts.income.isDefined){
        <tr>
            <td class="col1">@Messages("paac.review-amounts.heading.income")</td>
            <td class="col2 numeric">&pound;@(currencyFormatter.format(amounts.income.get/100D))</td>
            <td class="col3 edit_action">
                <a href="edit/income/@contribution.taxPeriodStart.year" data-journey-click="paac:click:edit_income_@contribution.taxPeriodStart.year">
                 @Messages("paac.review-amounts.action.edit") <span class="visuallyhidden">@(contribution.taxYearLabel())</span>
                </a>
            </td>
        </tr>
        }@* End of income row *@

        @if(triggerContribution.isDefined) {
        @if(triggerContribution.get.isPeriod1 && contribution.isPeriod1 ||
            triggerContribution.get.isPeriod2 && contribution.isPeriod2 ||
            triggerContribution.get.taxPeriodStart == contribution.taxPeriodEnd) {
        @defining(triggerContribution.map(_.taxPeriodStart).getOrElse(PensionPeriod(0,0,0))) { triggerDate =>
        @defining(Messages("paac.review-amounts.value."+triggerDate.month, triggerDate.day.toString, triggerDate.year.toString)) { flexiAccessDate =>
        <tr>
            <td class="col1">@Messages("paac.review-amounts.heading.trigger.date")</td>
            <td class="col2 numeric">
            @flexiAccessDate
            </td>
            <td class="col3 edit_action">
                <a href="edit/@(controllers.ReviewTotalAmountsController.EDIT_TRIGGER_DATE)" data-journey-click="paac:click:edit_trigger_date">
                 @Messages("paac.review-amounts.action.edit") <span class="visuallyhidden">@(contribution.taxYearLabel())</span>
                </a>
            </td>
        </tr>
        <tr @if(contribution.moneyPurchase < 0) {class="form-field--error"}>
            <td class="col1 @if(contribution.moneyPurchase < 0) {error_color}">@if(triggerContribution.get.isPeriod1){@Messages("paac.review-amounts.heading.trigger.savings.p1",flexiAccessDate)}else{@if(triggerContribution.get.isPeriod2){@Messages("paac.review-amounts.heading.trigger.savings.p2",flexiAccessDate)}else{@Messages("paac.review-amounts.heading.trigger.savings.other",flexiAccessDate)}}</td>
            <td class="col2 numeric @if(contribution.moneyPurchase < 0) {error_color}">&pound;@(currencyFormatter.format(triggerContribution.get.amounts.getOrElse(InputAmounts()).moneyPurchase.get/100D))</td>
            <td class="col3 edit_action">
                <a href="edit/@(controllers.ReviewTotalAmountsController.EDIT_TRIGGER_AMOUNT)" data-journey-click="paac:click:edit_trigger_amount">
                 @Messages("paac.review-amounts.action.edit") <span class="visuallyhidden">@(contribution.taxYearLabel())</span>
                </a>
            </td>
        </tr>
        }
        }
        }
        } @* End of money purchase trigger rows *@

        } @* End of define amounts *@
    </tbody>
</table>
}