@(field: play.api.data.Field, args: (Symbol,Any)*)(implicit lang: play.api.i18n.Lang)

@import play.api.i18n._
@import views.html.helper._
@import uk.gov.hmrc.play.views.html._

@elements = @{ new FieldElements(field.id, field, null, args.toMap, lang) }
@value = @{ field.value match { case Some(x) => x case None => "false" case x => x }}
<label for="@elements.id"
        @if(value=="true"){ class="block-label selected"} else { class="block-label"}>

    @elements.errors(elements.lang).map { error =>
    @helpers.errorInline({elements.field.name.replaceAll("""[\.\[\]]""", "-")}, Messages(error))
    }

    <span class="@if(elements.args.contains('_nested)){bold-small}">@elements.label</span>

    @if(elements.args.contains('_nested)) {
        @elements.args.get('_nested)
    }

    <input type="checkbox" id="@elements.id"
           @if( elements.args.get('_inputClass) ){ class="form-control @elements.args.get('_inputClass)" }
    name="@elements.field.name" value="true" @if(value=="true"){checked="checked"}/>

</label>