@(form : Form[Option[String]])(implicit request:Request[_])

@import play.api.i18n._
@import uk.gov.hmrc.play.views.html._
@import views.html.helpers._

@common.paacMain(
    pageTitle = Messages("paac.calculator.homepage.heading"),
    heading = Messages("paac.calculator.homepage.heading")
) {
    @helpers.form(
        action = controllers.routes.CalculatorController.onSubmit,
        args = 'class -> "form", 'autocomplete -> "off", 'novalidate -> "") {

        <p id="numberOfChildren-lede">@Messages("paac.1415.aa.limit.text")</p>

        @paacInput(
            field = form("numberOfChildren"),
            args = '_inputClass -> "input--xxsmall",
            '_label -> Messages("paac.1415.taxyear.text"),
            '_labelClass -> "label--inline",
            '_labelDataAttributes -> "aria-hidden=false",
            '_errorDataAttributes -> "data-input-name=numberOfChildren",
            '_error_id -> "numberOfChildren-error-summary",
            '_autoComplete -> "off")

        @paacInput(
            field = form("numberOfChildren"),
            args = '_inputClass -> "input--xxsmall",
            '_label -> Messages("paac.1516.taxyear.text"),
            '_labelClass -> "label--inline",
            '_labelDataAttributes -> "aria-hidden=false",
            '_errorDataAttributes -> "data-input-name=numberOfChildren",
            '_error_id -> "numberOfChildren-error-summary",
            '_autoComplete -> "off")

        @buttons.nextButton(
            title = Messages("paac.calculator.button.continue"),
            label = Some(Messages("paac.calculator.button.continue")),
            hrefMethod = Some(Call("GET", Messages("paac.calculator.back.url")))
        )
    }
}

