@(paacForm : Form[form.DateOfMPAATriggerEventPageModel], isEdit: Boolean)(implicit request:Request[_])

@import play.api.i18n._
@import uk.gov.hmrc.play.views.html.helpers._
@import views.html.date._

@common.paacMain(
pageTitle = Messages("paac.mpaa.ta.date.page.title"),
heading = Messages("paac.mpaa.ta.date.page.heading"),
articleClasses=Some("full-width"),
backLink = Some((controllers.routes.DateOfMPAATriggerEventController.onBack.url,Messages("paac.link.text.back")))
) {

    @if(paacForm.hasErrors) {
      <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1" style="border: 5px solid #b10e1e;padding: 20px;padding-top: 0px;margin-bottom: 30px;">

        <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
            @Messages("paac.error.generic")
        </h1>

        @if(paacForm.hasGlobalErrors) {
          <ul>
          @for(error <- paacForm.globalErrors) {
            <li>@error.message</li>
          }
          </ul>
        }

        <ul class="error-summary-list">
          @for(error <- paacForm.errors) {
            @defining(error.args) { args =>
              <li><a href="#dateOfMPAATriggerEvent" style="color:#b10e1e;font-weight: bold;">@Messages(error.message, args:_*)</a></li>
            }
          }
        </ul>
      </div>
    }

    @form(
        action = controllers.routes.DateOfMPAATriggerEventController.onSubmit,
        args = 'class -> "form", 'autocomplete -> "off", 'novalidate -> "") {
        <p class="lede text">@Messages("paac.mpaa.ta.date.page.description")</p>
        <input type="hidden" name="@(service.KeystoreService.P1_TRIGGER_DC_KEY)" value="@(paacForm(service.KeystoreService.P1_TRIGGER_DC_KEY).value.getOrElse(0L))"/>
        <input type="hidden" name="@(service.KeystoreService.P2_TRIGGER_DC_KEY)" value="@(paacForm(service.KeystoreService.P2_TRIGGER_DC_KEY).value.getOrElse(0L))"/>
        <input type="hidden" name="@(service.KeystoreService.TRIGGER_DC_KEY)" value="@(paacForm(service.KeystoreService.TRIGGER_DC_KEY).value.getOrElse(0L))"/>
        <input type="hidden" name="originalDate" value="@(paacForm("originalDate").value.getOrElse(""))"/>

        @* 'dateOfBirth' class name is misleading. However, it's coming from Assets_Frontend App. *@
        @dateFieldsFree(
            formItem = paacForm,
            fieldName = "dateOfMPAATriggerEvent",
            label = Html(Messages("")),
            isNested = false,
            '_groupClass -> "form-date form-group dateOfBirth",
            '_idName -> "dateOfMPAATriggerEvent",
            '_hintText -> Messages("paac.mpaa.ta.date.page.datehint"),
            '_hintId -> "dateOfBirth-hint",
            '_labelHighlight -> true
        )

        <button id="submit" type="submit" class="button" value="Continue">@if(isEdit){@Messages("paac.calculator.button.save")}else{@Messages("paac.calculator.button.continue")}</button>
    } @* End of Form *@
} @* End of paacMain *@