@(paacForm : Form[form.Eligibility])(implicit request:Request[_])

@import uk.gov.hmrc.play.views.html.helpers._

@common.paacMain(
pageTitle = Messages("paac.calculator.eligibility.pagetitle"),
heading = Messages("paac.calculator.eligibility.pagetitle")
) {




<button id="back" type="back" class="button" value="Back">@Messages("paac.calculator.button.back")</button>

@form(
action = controllers.routes.EligibilityController.onSubmit,
args = 'class -> "form", 'autocomplete -> "off", 'novalidate -> "") {

<a href="@controllers.startPageController" id="back">
    @Html(Messages("paac.calculator.button.back"))
</a>

<p class="lede text">@Messages("paac.calculator.eligibility.question")</p>

<div class='form-group'>

    <fieldset class="inline">
        <label for="eligibility-type" class="block-label">
            <input id="eligibility-type" type="radio" name="yes" value="Yes" >
            @Messages("yes")
        </label><BR/><BR/><BR/>
        <label for="eligibility-type" class="block-label">
            <input id="eligibility-type" type="radio" name="No" value="No" >
            @Messages("no")
        </label><BR/><BR/><BR/>
    </fieldset>

</div>
<button id="submit" type="submit" class="button" value="Continue">@Messages("paac.calculator.button.continue")</button>

}
}