@(pageTitle: String, heading: String, message: String)

@import play.api.Play.current
@import play.api.Play

@import config.ApplicationConfig._
@import layouts.{govuk_template => hmrcGovUkTemplate}
@import uk.gov.hmrc.play.views.html.{layouts => uiLayouts}
@import config._

@contentHeader = {
    <h1>@heading</h1>
}

@mainContent = {
    <p>@message</p>
}

@head = {
@uiLayouts.head(
    assetsPrefix = assetsUrl,
    linkElem = None,
    headScripts = None)
    <meta name="format-detection" content="telephone=no" />
}

@serviceInfo = {
@uiLayouts.serviceInfo(
    betaBanner = HtmlFormat.empty,
    includeGridWrapper = false,
    serviceInfoContent = None)
}


@content = {
@uiLayouts.main_content(
    article = uiLayouts.article(mainContent),
    serviceInfo = serviceInfo,
    mainContentHeader = contentHeader)
}

@defaultGA = {
    ga('send', 'event', 'paac', 'page view', 'error' , '@(pageTitle.split(" ").reverse(0))', {'nonInteraction': true,'anonymizeIp': true});
  ga('set', {
    title: "@(pageTitle.trim)",
    language: 'en-gb',
  });
}

@bodyEnd = {
@uiLayouts.footer(
    analyticsToken = ApplicationConfig.analyticsToken,
    analyticsHost = ApplicationConfig.analyticsHost,
    assetsPrefix = assetsUrl,
    ssoUrl = None,
    scriptElem = None,
    gaCalls = None,
    analyticsAdditionalJs = Some(defaultGA)
)
}

@footerTop = {}
@footerLinks = {}

@insideHeader = {}
@afterHeader = {}


@hmrcGovUkTemplate(Some(pageTitle), None)(head, bodyEnd, insideHeader, afterHeader, footerTop, Some(uiLayouts.footer_links()), true)(content)