@(paacForm : Form[form.PensionInputFormFields])(implicit request:Request[_])

@import uk.gov.hmrc.play.views.html.helpers._

@common.paacMain(
pageTitle = Messages("paac.pension.inputs.pagetitle"),
heading = Messages("paac.pension.inputs.heading")
) {
    @form(
        action = controllers.routes.PensionInputsController.onSubmit,
        args = 'class -> "form", 'autocomplete -> "off", 'novalidate -> "") {

        <p class="lede text">@Messages("paac.pension.inputs.question")</p>

        @for(i <- List(2014)) {
          <fieldset id="input_@i" class="form-field-group" style="max-width:12.35em;">
              <label class="form-element-bold label--full-length numeric" for="definedBenefit_@i" style="width:150%;display: inline-block;@if(paacForm.errors.find(_.key == "definedBenefit_"+i)) {color:#b10e1e;}">
              @(Contribution(i,0).taxYearLabel())&nbsp;
                <span style="float:right">£&nbsp;
                @if(paacForm.data.contains("definedBenefit_"+i)) {
                <input type="number" name="definedBenefit_@i" id="definedBenefit" min="0" value='@paacForm.data("definedBenefit_"+i)' style="@if(paacForm.errors.find(_.key == "definedBenefit_"+i)) {border: 4px solid #b10e1e;}"/>
                } else {
                <input type="number" name="definedBenefit_@i" id="definedBenefit" min="0" value='0.00' style="@if(paacForm.errors.find(_.key == "definedBenefit_"+i)) {border: 4px solid #b10e1e;}"/>
                }
                </span>
              </label>
          </fieldset>
        }
        <br/>
        <button id="submit" type="submit" class="button" value="Continue">@Messages("paac.calculator.button.continue")</button>
        <br/>
        <br/>
        <p class="backlink"><a href="@controllers.routes.SelectSchemeController.onPageLoad()">@Messages("paac.calculator.button.back")</a></p>
    }
}