@(paacForm : Form[_ <: form.Post2015Fields],
  isDefinedBenefit: Boolean= false,
  isDefinedContribution: Boolean= false,
  isEdit: Boolean,
  year: Int)(implicit request:Request[_], context: config.PaacContext, lang: Lang)

@import uk.gov.hmrc.play.views.html.helpers._
@import service.KeystoreService._

@analyticsAdditionalJs = {
  ga('set', {
    title: "@Messages("paac.201617.pension.inputs.pagetitle")",
    language: 'en-gb',
  });
  @helpers.gaEvent("page view", (if(isDefinedBenefit) "Defined Benefit" else "") + (if(isDefinedBenefit && isDefinedContribution) " and " else "") + (if(isDefinedContribution)"Defined Contribution" else "") + " " + Messages("paac.201617.pension.inputs.pagetitle"))
}

@common.paacMain(
pageTitle = Messages("paac.201617.pension.inputs.pagetitle"),
heading = Messages("paac.201617.pension.inputs.heading", year.toString, (year+1).toString),
articleClasses=Some("full-width"),
backLink = Some((controllers.routes.PensionInputs201617Controller.onBack(year).url,Messages("paac.link.text.back"))),
analyticsAdditionalJs = Some(analyticsAdditionalJs)
) {

    @if(paacForm.hasErrors) {
    <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1" style="border: 5px solid #b10e1e;padding: 20px;padding-top: 0px;margin-bottom: 30px;">

        <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
            @Messages("paac.error.generic")
        </h1>

        @if(paacForm.hasGlobalErrors) {
        <ul>
            @for(error <- paacForm.globalErrors) {
            <li>@error.message</li>
            }
        </ul>
        }

        <ul class="error-summary-list">
          @for(error <- paacForm.errors) {
          @defining(error.args) { args =>
            @defining(if(error.key.contains("definedBenefit")) Messages("paac.benefit") else Messages("paac.contribution")){ args =>
                @if(error.message == "error.required"){
                   <li><a href="#@error.key" data-focuses="@error.key" style="color:#b10e1e;font-weight: bold;">
                       @Messages("post2015.error.required", args)
                   </a></li>
                } else {
                   <li><a href="#@error.key" data-focuses="@error.key" style="color:#b10e1e;font-weight: bold;">
                       @Messages(error.message)
                   </a></li>
                }
            }
          }
          }
        </ul>
    </div>
    }

<p class="lede text">@Messages("paac.201617.pension.inputs.description")</p>
<p class="lede text">@Messages("paac.201617.pension.inputs.description2")</p>

@form(
action = controllers.routes.PensionInputs201617Controller.onSubmit,
args = 'class -> "form", 'autocomplete -> "off", 'novalidate -> "") {

<fieldset id="input_2016" style="margin: 0" class="form-field-group">
  @for(id <- if (isDefinedBenefit && isDefinedContribution) List(DC_PREFIX+year, DB_PREFIX+year) else if (isDefinedBenefit) List(DB_PREFIX+year) else List(DC_PREFIX+year)) {
    <label class="label--full-length numeric @if(paacForm.errors.find(_.key == id)) {form-field--error}" for="@id" style="width:150%;display: inline-block;">
        <span>@if(id.contains("Benefit")){@Messages("paac.common.pension.inputs.db")}else{@Messages("paac.common.pension.inputs.dc")}</span>
        <span class="form-hint">@Messages("paac.common.inputfield.example.message")</span>
        @defining(paacForm.errors.find(_.key.contains(id))){ maybeError =>
          @if(maybeError.isDefined) {
            @defining(maybeError.get) { error =>
              @defining(if(error.key.contains("definedBenefit")) Messages("paac.benefit") else Messages("paac.contribution")){ args =>
                @if(error.message == "error.required"){
                    <span style="color:#b10e1e;font-weight: bold; ">@Messages("post2015.error.required", args)</span>
                } else {
                    <span style="color:#b10e1e;font-weight: bold; ">@Messages(error.message)</span>
                }
              }
            } @* End of define error *@
          } @* End of if *@
        } @* End of define maybeError *@
        <span>@helpers.valueField(id, paacForm.data.getOrElse(id,""), paacForm.errors.find(_.key == id))</span>
    </label>
  } @* End of for id *@
</fieldset>

<button id="submit" type="submit" class="button" value="Continue">@if(isEdit){@Messages("paac.calculator.button.save")}else{@Messages("paac.calculator.button.continue")}</button>
} @* End of Form *@
} @* End of paacMain *@
