@(paacForm : Form[_ <: form.Year2015Fields],isDefinedBenefit: Boolean= false, isDefinedContribution: Boolean= false, isEdit: Boolean)(implicit request:Request[_])

@import uk.gov.hmrc.play.views.html.helpers._

@common.paacMain(
pageTitle = Messages("paac.201516.pension.inputs.pagetitle"),
heading = Messages("paac.1516.pension.inputs.pages.heading", (if(isDefinedBenefit && isDefinedContribution) "pension" else if(isDefinedBenefit) "defined benefit" else if (isDefinedContribution) "defined contribution"  else "")),
articleClasses=Some("full-width"),
backLink = Some((controllers.routes.PensionInputs201516Controller.onBack.url,Messages("paac.link.text.back")))
) {
<p class="lede text">@Messages("paac.201516.pension.inputs.description")</p>
<p class="text">@Messages("paac.201516.pension.inputs.description2")</p>

@if(paacForm.hasErrors) {
<div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1" style="border: 5px solid #b10e1e;padding: 20px;padding-top: 0px;margin-bottom: 30px;">
    <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
        @Messages("paac.error.generic")
    </h1>
    @if(paacForm.hasGlobalErrors) {
    <ul>
      @for(error <- paacForm.globalErrors) {<li>error.message</li>}
    </ul>
    } @* End of if *@

    <ul class="error-summary-list">
      @for(error <- paacForm.errors) {
        @defining(if(error.key.contains("p1")){ "1" } else { "2" }){ periods =>
        @defining(if(error.key.contains("definedBenefit")){ "benefit"} else {"contribution"}){ pensionSchemesTypes =>
        @defining(List(pensionSchemesTypes, periods)){ args =>
            @if(error.message == "error.required"){
                <li><a href="#@error.key" style="color:#b10e1e;font-weight: bold;">@Messages("year2015.error.required", args:_*)</a></li>
            } else {
                <li><a href="#@error.key" style="color:#b10e1e;font-weight: bold;">@Messages(error.message)</a></li>
            }
        } @* End of periods *@
        } @* End of pensionSchemesTypes *@
        } @* End of args *@
      } @* End of for *@
    </ul>
</div>
}

@form(
action = controllers.routes.PensionInputs201516Controller.onSubmit,
args = 'class -> "form",
'autocomplete -> "off",
'novalidate -> "") {

@for(p <- List("p1","p2")) {
  @defining(if (p == "p1") "paac.201516.pension.inputs.period1" else "paac.201516.pension.inputs.period2") { msg =>
<p class="lede text"><b>@Messages(msg)</b></p>
<p class="text" style="margin: 0"><b>@Messages(msg+".description")</b></p>
  }

<fieldset id="input_2015_@(p)" class="form-field-group">
  @for(id <- if (isDefinedBenefit && isDefinedContribution) List("definedBenefit_2015_"+p, "definedContribution_2015_"+p) else if (isDefinedBenefit) List("definedBenefit_2015_"+p) else List("definedContribution_2015_"+p)) {
    <label class="label--full-length numeric @if(paacForm.errors.find(_.key == id)) {form-field--error}" for="@id">
      <span>@Messages(if (id.contains("Benefit")) "paac.common.pension.inputs.db" else "paac.common.pension.inputs.dc")</span>
      <span class="form-hint">@Messages("paac.common.inputfield.example.message")</span>
    @defining(paacForm.errors.find(_.key.contains(id))){ maybeError =>
      @if(maybeError.isDefined) {
        @defining(maybeError.get) { error =>
            @defining(if(error.key.contains("p1")){ "1" } else { "2" }){ periods =>
            @defining(if(error.key.contains("definedBenefit")){ "benefit"} else {"contribution"}){ pensionSchemesTypes =>
            @defining(List(pensionSchemesTypes, periods)){ args =>
                @if(error.message == "error.required"){
                    <span style="color:#b10e1e;font-weight: bold;">@Messages("year2015.error.required", args:_*)</span>
                } else {
                    <span style="color:#b10e1e;font-weight: bold;">@Messages(error.message)</span>
                }
            } @* End of periods *@
            } @* End of pensionSchemesTypes *@
            } @* End of args *@
        } @* End of define error *@
      } @* End of if *@
    } @* End of define maybeError *@
      @helpers.valueField(id, paacForm.data.getOrElse(id,""), paacForm.errors.find(_.key == id))
    </label>
  } @* End of for id *@
</fieldset>
<br/>
} @* End of for p *@

<button id="submit" type="submit" class="button" value="Continue">@if(isEdit){@Messages("paac.calculator.button.save")}else{@Messages("paac.calculator.button.continue")}</button>
} @* End of Form *@
} @* End of paacMain *@