@(paacForm : Form[models.CalculatorFormFields],isDefinedBenefit: Boolean= false, isDefinedContribution: Boolean= false, isEdit: Boolean)(implicit request:Request[_])

@import uk.gov.hmrc.play.views.html.helpers._

@common.paacMain(
pageTitle = Messages("paac.201516.pension.inputs.pagetitle"),
heading = Messages("paac.1516.pension.inputs.pages.heading", (if(isDefinedBenefit && isDefinedContribution) "pension" else if(isDefinedBenefit) "defined benefit" else if (isDefinedContribution) "defined contribution"  else "")),
articleClasses=Some("full-width"),
backLink = Some((controllers.routes.PensionInputs201516Controller.onBack.url,Messages("paac.link.text.back")))
) {


<p class="lede text">@Messages("paac.201516.pension.inputs.description")</p>
<p class="lede text">@Messages("paac.201516.pension.inputs.description2")</p>

@if(paacForm.hasErrors) {
<div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1" style="border: 5px solid #b10e1e;padding: 20px;padding-top: 0px;margin-bottom: 30px;">

    <h1 class="heading-medium error-summary-heading">
        There was a problem with the amounts you reported to us
    </h1>

    @if(paacForm.hasGlobalErrors) {
    <ul>
        @for(error <- paacForm.globalErrors) {
        <li>@error.message</li>
        }
    </ul>
    }

    <ul class="error-summary-list">
        @for(error <- paacForm.errors) {
        @defining(Seq("2015 P1")++error.args) { args =>
        <li><a href="#input_2015_p1" style="color:#b10e1e;font-weight: bold;">@Messages(error.message, args:_*)</a></li>
        }

        }
    </ul>
</div>
}

@form(
action = controllers.routes.PensionInputs201516Controller.onSubmit,
args = 'class -> "form", 'autocomplete -> "off", 'novalidate -> "") {
<input type="hidden" name="isEdit" value="@(isEdit)"/>
<input type="hidden" name="isDefinedBenefit" value="@(isDefinedBenefit)"/>
<input type="hidden" name="isDefinedContribution" value="@(isDefinedContribution)"/>
<p class="lede text"><b>@Messages("paac.201516.pension.inputs.period1")</b></p>
<p class="text" style="margin: 0"><b>@Messages("paac.201516.pension.inputs.period1.description")</b></p>
<table style="max-width:12.35em; margin: 0">
    <tbody>
    <fieldset id="input_2015_p1" style="max-width:12.35em; margin: 0">
        @if(isDefinedContribution){
        <label class="form-element-bold label--full-length numeric" for="year2015.definedContribution_2015_p1" style="width:150%;display: inline-block;@if(paacForm.errors.find(_.key == "year2015.definedContribution_2015_p1")) {color:#b10e1e;}">
        <tr style="text-align:left;min-width: 7em">@Messages("paac.common.pension.inputs.dc")</tr><BR/>
        <span  class="form-hint">@Messages("paac.common.inputfield.example.message")</span>
          <span style="float:right">
              @if(paacForm.data.contains("year2015.definedContribution_2015_p1")) {
              <tr style="text-align:left;min-width: 7em">
                  £&nbsp;<input type="number" name="year2015.definedContribution_2015_p1" id="year2015.definedContribution_2015_p1" min="0" class="input--no-spinner" value='@paacForm.data("year2015.definedContribution_2015_p1")' max="5000000.00" size="10" style="width:9em;@if(paacForm.errors.find(_.key == "year2015.definedContribution_2015_p1")) {border: 4px solid #b10e1e;}"/>
              </tr>
              } else {
              <tr style="text-align:left;min-width: 7em">
                  £&nbsp;<input type="number" name="year2015.definedContribution_2015_p1" id="year2015.definedContribution_2015_p1" min="0" class="input--no-spinner" value='' max="5000000.00" size="10" style="width:9em;@if(paacForm.errors.find(_.key == "year2015.definedContribution_2015_p1")) {border: 4px solid #b10e1e;}"/>
              </tr>
              }
          </span>
        </label>
        }
        @if(isDefinedBenefit){
        <label class="form-element-bold label--full-length numeric" for="year2015.definedBenefit_2015_p1" style="width:150%;display: inline-block;@if(paacForm.errors.find(_.key == "year2015.definedBenefit_2015_p1")) {color:#b10e1e;}">
        <tr style="text-align:left;min-width: 7em">@Messages("paac.common.pension.inputs.db")</tr><BR/>
        <span  class="form-hint">@Messages("paac.common.inputfield.example.message")</span>
          <span style="float:right">
              @if(paacForm.data.contains("year2015.definedBenefit_2015_p1")) {
              <tr style="text-align:left;min-width: 7em">
                  £&nbsp;<input type="number" name="year2015.definedBenefit_2015_p1" id="year2015.definedBenefit_2015_p1" min="0" class="input--no-spinner" value='@paacForm.data("year2015.definedBenefit_2015_p1")' max="5000000.00" size="10" style="width:9em;@if(paacForm.errors.find(_.key == "year2015.definedBenefit_2015_p1")) {border: 4px solid #b10e1e;}"/>
              </tr>
              } else {
              <tr style="text-align:left;min-width: 7em">
                  £&nbsp;<input type="number" name="year2015.definedBenefit_2015_p1" id="year2015.definedBenefit_2015_p1" min="0" class="input--no-spinner" value='' max="5000000.00" size="10" style="width:9em;@if(paacForm.errors.find(_.key == "year2015.definedBenefit_2015_p1")) {border: 4px solid #b10e1e;}"/>
              </tr>
              }
          </span>
        </label>
        }
    </fieldset>
    </tbody>
</table>
<br>
<p class="lede text"><b>@Messages("paac.201516.pension.inputs.period2")</b></p>
<p class="text" style="margin: 0"><b>@Messages("paac.201516.pension.inputs.period2.description")</b></p>
<table>
    <tbody>
    <fieldset id="input_2015_p2" style="max-width:12.35em; margin: 0">
        @if(isDefinedContribution){
        <label class="form-element-bold label--full-length numeric" for="year2015.definedContribution_2015_p2" style="width:150%;display: inline-block;@if(paacForm.errors.find(_.key == "year2015.definedContribution_2015_p2")) {color:#b10e1e;}">
        <tr style="text-align:left;min-width: 7em">@Messages("paac.common.pension.inputs.dc")</tr><BR/>
        <span  class="form-hint">@Messages("paac.common.inputfield.example.message")</span>
          <span style="float:right">
          @if(paacForm.data.contains("year2015.definedContribution_2015_p2")) {
              <tr style="text-align:left;min-width: 7em">
                  £&nbsp;<input type="number" name="year2015.definedContribution_2015_p2" id="year2015.definedContribution_2015_p2" min="0" class="input--no-spinner" value='@paacForm.data("year2015.definedContribution_2015_p2")' max="5000000.00" size="10" style="width:9em;@if(paacForm.errors.find(_.key == "year2015.definedContribution_2015_p2")) {border: 4px solid #b10e1e;}"/>
              </tr>
              } else {
              <tr style="text-align:left;min-width: 7em">
                  £&nbsp;<input type="number" name="year2015.definedContribution_2015_p2" id="year2015.definedContribution_2015_p2" min="0" class="input--no-spinner" value='' max="5000000.00" size="10" style="width:9em;@if(paacForm.errors.find(_.key == "year2015.definedContribution_2015_p2")) {border: 4px solid #b10e1e;}"/>
              </tr>
              }
          </span>
        </label>
        }
        @if(isDefinedBenefit){
        <label class="form-element-bold label--full-length numeric" for="year2015.definedBenefit_2015_p2" style="width:150%;display: inline-block;@if(paacForm.errors.find(_.key == "year2015.definedBenefit_2015_p2")) {color:#b10e1e;}">
        <tr style="text-align:left;min-width: 7em">@Messages("paac.common.pension.inputs.db")</tr><BR/>
        <span  class="form-hint">@Messages("paac.common.inputfield.example.message")</span>
          <span style="float:right">
          @if(paacForm.data.contains("year2015.definedBenefit_2015_p2")) {
              <tr style="text-align:left;min-width: 7em">
                  £&nbsp;<input type="number" name="year2015.definedBenefit_2015_p2" id="year2015.definedBenefit_2015_p2" min="0" class="input--no-spinner" value='@paacForm.data("year2015.definedBenefit_2015_p2")' max="5000000.00" size="10" style="width:9em;@if(paacForm.errors.find(_.key == "year2015.definedBenefit_2015_p2")) {border: 4px solid #b10e1e;}"/>
              </tr>
              } else {
              <tr style="text-align:left;min-width: 7em">
                  £&nbsp;<input type="number" name="year2015.definedBenefit_2015_p2" id="year2015.definedBenefit_2015_p2" min="0" class="input--no-spinner" value='' max="5000000.00" size="10" style="width:9em;@if(paacForm.errors.find(_.key == "year2015.definedBenefit_2015_p2")) {border: 4px solid #b10e1e;}"/>
              </tr>
              }
          </span>
        </label>
        }
    </fieldset>
    </tbody>
</table>
<br/>

<button id="submit" type="submit" class="button" value="Continue">@if(isEdit){@Messages("paac.calculator.button.save")}else{@Messages("paac.calculator.button.continue")}</button>
} @* End of Form *@
} @* End of paacMain *@