@(paacForm : Form[models.CalculatorFormFields],
  isDefinedBenefit: Boolean= false, 
  isDefinedContribution: Boolean= false, 
  isEdit: Boolean,
  year: Int)(implicit request:Request[_])

@import uk.gov.hmrc.play.views.html.helpers._

@common.paacMain(
pageTitle = Messages("paac.201617.pension.inputs.pagetitle"),
heading = Messages("paac.201617.pension.inputs.heading", (if(isDefinedBenefit && isDefinedContribution) "pension" else if(isDefinedBenefit) "defined benefit" else if (isDefinedContribution) "defined contribution"  else "")),
articleClasses=Some("full-width"),
backLink = Some((controllers.routes.PensionInputs201617Controller.onBack.url,Messages("paac.link.text.back")))
) {

<p class="lede text">@Messages("paac.201617.pension.inputs.description")</p>
<p class="lede text">@Messages("paac.201617.pension.inputs.description2")</p>

    @if(paacForm.hasErrors) {
    <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1" style="border: 5px solid #b10e1e;padding: 20px;padding-top: 0px;margin-bottom: 30px;">

        <h1 class="heading-medium error-summary-heading">
            @Messages("paac.error.generic")
        </h1>

        @if(paacForm.hasGlobalErrors) {
        <ul>
            @for(error <- paacForm.globalErrors) {
            <li>@error.message</li>
            }
        </ul>
        }

        <ul class="error-summary-list">
          @for(error <- paacForm.errors) {
          @defining(error.args) { args =>
            <li><a href="#input_@year" style="color:#b10e1e;font-weight: bold;">@Messages(error.message, args:_*)</a></li>
          }
          }
        </ul>
    </div>
    }

@form(
action = controllers.routes.PensionInputs201617Controller.onSubmit,
args = 'class -> "form", 'autocomplete -> "off", 'novalidate -> "") {
<input type="hidden" name="isEdit" value="@(isEdit)"/>
<input type="hidden" name="isDefinedBenefit" value="@(isDefinedBenefit)"/>
<input type="hidden" name="isDefinedContribution" value="@(isDefinedContribution)"/>
<input type="hidden" name="year" value="@(year)"/>
<table style="margin: 0">
    <tbody>

    <fieldset id="input_2016" style="margin: 0" class="form-field-group">

        @if(isDefinedContribution){

        <label class="label--full-length numeric @if(paacForm.hasErrors) {form-field--error}" for="definedContributions.amount_@year" style="width:150%;display: inline-block;@if(paacForm.errors.find(_.key == "definedContributions.amount_@year")) {color:#b10e1e;}">
        <span style="text-align:left;min-width: 7em">@Messages("paac.common.pension.inputs.dc")</span>
        <p class="form-hint">@Messages("paac.common.inputfield.example.message")</p>
        @defining(paacForm.errors.find(_.key.contains("definedContributions"))){ maybeError =>
          @if(maybeError.isDefined) {
            @defining(maybeError.get) { error =>
            <p style="color:#b10e1e;font-weight: bold; ">@Messages(error.message, error.args:_*)</p>
                <p style=" text-align:left;min-width: 7em {border: 4px solid #b10e1e;}">
                    £&nbsp;<input type="number" name="definedContributions.amount_@year" id="definedContributions.amount_@year" min="0" class="input--no-spinner" value='@paacForm.data(s"definedContributions.amount_${year}")' max="5000000.00" size="10" style="width:9em; border: 4px solid #b10e1e;"/>
                </p>
        }
        }else {
        <p style=" text-align:left;min-width: 7em {border: 4px solid #b10e1e;}">

        £&nbsp;<input type="number" name="definedContributions.amount_@year" id="definedContributions.amount_@year" min="0" class="input--no-spinner" value='@paacForm.data(s"definedContributions.amount_${year}")' max="5000000.00" size="10" style="width:9em"/>
        </p>

            }
          }
        </label>
        }

        @if(isDefinedBenefit){
        <label class="form-element-bold label--full-length numeric @if(paacForm.hasErrors) {form-field--error}" for="definedBenefits.amount_@year" style="width:150%;display: inline-block;@if(paacForm.errors.find(_.key == s"definedBenefits.amount_${year}")) {color:#b10e1e;}">
        <p style=" float:left text-align:left;min-width: 7em">@Messages("paac.common.pension.inputs.db")</p>
        <span class="form-hint">@Messages("paac.common.inputfield.example.message")</span>

        @defining(paacForm.errors.find(_.key.contains("definedBenefits"))){ maybeError =>
        @if(maybeError.isDefined) {
        @defining(maybeError.get) { error =>
        <p style="color:#b10e1e;font-weight: bold; ">@Messages(error.message, error.args:_*)</p>
          <p style=" text-align:left;min-width: 7em {border: 4px solid #b10e1e;}">
                  £&nbsp;<input type="number" name="definedBenefits.amount_@year" id="definedBenefits.amount_@year" min="0" class="input--no-spinner" value='@paacForm.data(s"definedBenefits.amount_${year}")' max="5000000.00" size="10" style="width:9em;border: 4px solid #b10e1e;"/>
          </p>
        }
        }else {
        <p style=" text-align:left;min-width: 7em {border: 4px solid #b10e1e;}">
            £&nbsp;<input type="number" name="definedBenefits.amount_@year" id="definedBenefits.amount_@year" min="0" class="input--no-spinner" value='@paacForm.data(s"definedBenefits.amount_${year}")' max="5000000.00" size="10" style="width:9em"/>
        </p>
        }
        }

        </label>
        }
    </fieldset>
    </tbody>
</table>
<br/>

<button id="submit" type="submit" class="button" value="Continue">@if(isEdit){@Messages("paac.calculator.button.save")}else{@Messages("paac.calculator.button.continue")}</button>
} @* End of Form *@
} @* End of paacMain *@
