@()(implicit request:Request[_])

@import uk.gov.hmrc.play.views.html.helpers._

@common.paacMain(
pageTitle = Messages("paac.pip.taxyear.pagetitle"),
heading = Messages("paac.pip.taxyear.heading"),
backLink = Some((controllers.routes.SelectSchemeController.onPageLoad.url,Messages("paac.link.text.back")))
) {
<p class="lede text">@Messages("paac.pip.taxyear.heading")</p>
<p class="">@Messages("paac.pip.taxyear.p1")</p>
<p class="">@Messages("paac.pip.taxyear.p2")</p>
<p class="">@Messages("paac.pip.taxyear.p3")</p>

@form(action = controllers.routes.StaticPageController.onPipTaxYearSubmit,
args = 'class -> "form", 'autocomplete -> "off", 'novalidate -> "") {
<button id="submit" type="submit" class="button" value="Continue">@Messages("paac.pip.taxyear.button.continue")</button>
}
}