@(paacForm : Form[models.CalculatorFormFields], selectedTaxYear:String, triggeredDate:String)(implicit request:Request[_])

@import uk.gov.hmrc.play.views.html.helpers._
@import models._

@common.paacMain(
pageTitle = Messages("paac.post.trigger.value.page.title"),
heading = Messages("paac.post.trigger.value.page.question", selectedTaxYear, (selectedTaxYear.toInt+1).toString),
backLink = Some((controllers.routes.PostTriggerPensionInputsController.onBack.url,Messages("paac.link.text.back")))
) {

    <p id="paac.post-trigger-value.p1">
        @Messages("paac.post.trigger.value.description", triggeredDate)
    </p>
    @if(paacForm.hasErrors) {
      <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1" style="border: 5px solid #b10e1e;padding: 20px;padding-top: 0px;margin-bottom: 30px;">

        <h1 class="heading-medium error-summary-heading">
          There was a problem with the amount you reported to us
        </h1>

        @if(paacForm.hasGlobalErrors) {
          <ul>
          @for(error <- paacForm.globalErrors) {
            <li>@error.message</li>
          }
          </ul>
        }

        <ul class="error-summary-list">
          @for(error <- paacForm.errors) {
            @defining(Seq("2015")++error.args) { args =>
            <li><a href="input_year2015.postTriggerDcAmount2015P1" style="color:#b10e1e;font-weight: bold;">@Messages("paac.post.trigger.value."+error.message, args:_*)</a></li>
            }
          }
        </ul>
      </div>
    }

    @form(
        action = controllers.routes.PostTriggerPensionInputsController.onSubmit,
        args = 'class -> "form", 'autocomplete -> "off", 'novalidate -> "") {
        
        @defining(CalculatorFormFields(Amounts(), Amounts(), Year2015Amounts(
          postTriggerDcAmount2015P1=paacForm.data.get("year2015.postTriggerDcAmount2015P1").flatMap((v) =>if (v == "") None else Some(BigDecimal(v.toDouble))),
          postTriggerDcAmount2015P2=paacForm.data.get("year2015.postTriggerDcAmount2015P2").flatMap((v) =>if (v == "") None else Some(BigDecimal(v.toDouble))) ), 
          Some(paacForm.data("triggerDate")))){ errorModel =>

        @defining(paacForm.value.getOrElse(errorModel)) { model =>
        <input type="hidden" id="triggerDate" name="triggerDate" value="@(model.triggerDate)"/>
        <table>
            <tbody>
              @if(model.triggerDatePeriod.get.isPeriod1()) {
                @defining("year2015.postTriggerDcAmount2015P1") { id =>
                <fieldset id="input_year2015.postTriggerDcAmount2015P1" class="form-field-group" style="max-width:12.35em;">
                      <span style="float:right">
                      @if(model.year2015.postTriggerDcAmount2015P1 != None) {
                        <tr style="text-align:left;min-width: 7em">
                            <p>@Messages("paac.post.trigger.amount.input.label")</p>
                            &pound;&nbsp;<input type="number" name="@id" id="@id" min="0" step="1" value='@(model.year2015.postTriggerDcAmount2015P1.get)' max="5000000" size="7" style="width:9em;@if(paacForm.errors.find(_.key == id)) {border: 4px solid #b10e1e;}"/>
                        </tr>
                      } else {
                        <tr style="text-align:left;min-width: 7em">
                            <p>@Messages("paac.post.trigger.amount.input.label")</p>
                            &pound;&nbsp;<input type="number" name="@id" id="@id" min="0" step="1" value='' max="5000000" size="7" style="width:9em;@if(paacForm.errors.find(_.key == id)) {border: 4px solid #b10e1e;}"/>
                        </tr>
                      }
                      </span>
                </fieldset>
                }
              }
              @if(model.triggerDatePeriod.get.isPeriod2()) {
                @defining("year2015.postTriggerDcAmount2015P2") { id =>
                <fieldset id="input_year2015.postTriggerDcAmount2015P2" class="form-field-group" style="max-width:12.35em;">
                      <span style="float:right">
                      @if(model.year2015.postTriggerDcAmount2015P2 != None) {
                        <tr style="text-align:left;min-width: 7em">
                            <p>@Messages("paac.post.trigger.amount.input.label")</p>
                            &pound;&nbsp;<input type="number" name="@id" id="@id" min="0" step="1" value='@(model.year2015.postTriggerDcAmount2015P2.get)' max="5000000" size="7" style="width:9em;@if(paacForm.errors.find(_.key == id)) {border: 4px solid #b10e1e;}"/>
                        </tr>
                      } else {
                        <tr style="text-align:left;min-width: 7em">
                            <p>@Messages("paac.post.trigger.amount.input.label")</p>
                            &pound;&nbsp;<input type="number" name="@id" id="@id" min="0" step="1" value='' max="5000000" size="7" style="width:9em;@if(paacForm.errors.find(_.key == id)) {border: 4px solid #b10e1e;}"/>
                        </tr>
                      }
                      </span>
                </fieldset>
                }
              }
            </tbody>
          </table>
          }
          }
        <button id="submit" type="submit" class="button" value="Continue">@Messages("paac.calculator.button.continue")</button>
    }
}