@(paacForm : Form[_ <: form.TriggerDCFields], teDate: PensionPeriod, isEdit: Boolean)(implicit request:Request[_])

@import uk.gov.hmrc.play.views.html.helpers._
@import models._
@import models.PensionPeriod._

@defining(teDate.year) { taxYear =>
@common.paacMain(
pageTitle = Messages("paac.post.trigger.value.page.title"),
heading = if(teDate.isPeriod1())
            Messages("paac.post.trigger.value.page.question.p1")
          else if (teDate.isPeriod2())
            Messages("paac.post.trigger.value.page.question.p2")
          else
            Messages("paac.post.trigger.value.page.question", ""+taxYear, ""+(taxYear+1)),
backLink = Some((controllers.routes.PostTriggerPensionInputsController.onBack.url,Messages("paac.link.text.back")))
) {

    <p class="lede text">
        @if(teDate.isPeriod1()) {
          @Messages("paac.post.trigger.value.description.p1", Messages("paac.review-amounts.value."+ teDate.month, teDate.day, teDate.year.toString))
        } else {
          @if(teDate.isPeriod2()) {
            @Messages("paac.post.trigger.value.description.p2", Messages("paac.review-amounts.value."+ teDate.month, teDate.day, teDate.year.toString))
          } else {
            @Messages("paac.post.trigger.value.description.other", Messages("paac.review-amounts.value."+ teDate.month, teDate.day, teDate.year.toString), ""+(taxYear+1))
          }
        }
    </p>
    @if(paacForm.hasErrors) {
      <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1" style="border: 5px solid #b10e1e;padding: 20px;padding-top: 0px;margin-bottom: 30px;">

        <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
            @Messages("paac.error.generic")
        </h1>

        @if(paacForm.hasGlobalErrors) {
          <ul>
          @for(error <- paacForm.globalErrors) {
            <li>@error.message</li>
          }
          </ul>
        }

        <ul class="error-summary-list">
          @for(error <- paacForm.errors) {
            @defining(if(error.key.contains("p1")){"period 1"}else{if(error.key.contains("p2")){"period 2"} else{ teDate.year.toString } }) { args =>
                @if(error.message == "error.required"){
                    <li><a href="#triggerAmountFieldset" style="color:#b10e1e;font-weight: bold;">@Messages("te.amount.error.required", args)</a></li>
                } else {
                    <li><a href="#triggerAmountFieldset" style="color:#b10e1e;font-weight: bold;">@Messages(error.message)</a></li>
                }
            }
          }
        </ul>
      </div>
    }

    @form(
        action = controllers.routes.PostTriggerPensionInputsController.onSubmit,
        args = 'class -> "form", 'autocomplete -> "off", 'novalidate -> "") {

        <table>
            <fieldset class="form-field-group @if(paacForm.hasErrors) {form-field--error}">
              @if(teDate.isPeriod1()) {
                @defining("triggerDefinedContribution_2015_p1") { id =>
                <label class="label--full-length numeric" id="triggerAmountFieldset" for="@id" style="width:150%;display: inline-block;">
                    <p style="text-align:left;min-width: 7em">@Messages("paac.post.trigger.amount.input.label")</p>
                    @if(paacForm.hasErrors) {
                    <ul class="error-summary-list">
                        @for(error <- paacForm.errors) {
                        @defining(Seq(taxYear.toString)++error.args) { args =>
                          @if(error.message == "error.required"){
                            <p style="color:#b10e1e;font-weight: bold;">@Messages("te.amount.error.required")</p>
                          } else {
                            <p style="color:#b10e1e;font-weight: bold;">@Messages(error.message)</p>
                          }
                        }
                        }
                    </ul>
                    }
                    <span class="form-hint">@Messages("paac.common.inputfield.example.message")</span>
                      @if(paacForm.data.get("triggerDefinedContribution_2015_p1") != None) {
                            £&nbsp;<input type="text" name="@id" id="@id" min="0" class="input--no-spinner" value='@paacForm.data.get("triggerDefinedContribution_2015_p1")' max="5000000" size="7" style="width:9em;@if(paacForm.errors.find(_.key == id)) {border: 4px solid #b10e1e;}"/>
                      } else {
                            £&nbsp;<input type="text" name="@id" id="@id" min="0" class="input--no-spinner" value='' max="5000000" size="7" style="width:9em;@if(paacForm.errors.find(_.key == id)) {border: 4px solid #b10e1e;}"/>
                      }
                </label>
                }
              }

              @if(teDate.isPeriod2()) {
                @defining("triggerDefinedContribution_2015_p2") { id =>
                <label class="label--full-length numeric" id="triggerAmountFieldset" for="@id" style="width:150%;display: inline-block;">
                    <p style="text-align:left;min-width: 7em">@Messages("paac.post.trigger.amount.input.label")</p>
                        <span class="form-hint">@Messages("paac.common.inputfield.example.message")</span>
                    @if(paacForm.hasErrors) {
                    <ul class="error-summary-list">
                        @for(error <- paacForm.errors) {
                        @defining(Seq(taxYear.toString)++error.args) { args =>
                          @if(error.message == "error.required"){
                             <p style="color:#b10e1e;font-weight: bold;">@Messages("te.amount.error.required")</p>
                          } else {
                             <p style="color:#b10e1e;font-weight: bold;">@Messages(error.message)</p>
                          }
                        }
                        }
                    </ul>
                    }
                    @if(paacForm.data.get("triggerDefinedContribution_2015_p2") != None) {
                    £&nbsp;<input type="text" name="@id" id="@id" min="0" class="input--no-spinner" value='@paacForm.data.get("triggerDefinedContribution_2015_p2")' max="5000000" size="7" style="width:9em;@if(paacForm.errors.find(_.key == id)) {border: 4px solid #b10e1e;}"/>
                    } else {
                    £&nbsp;<input type="text" name="@id" id="@id" min="0" class="input--no-spinner" value='' max="5000000" size="7" style="width:9em;@if(paacForm.errors.find(_.key == id)) {border: 4px solid #b10e1e;}"/>
                    }
                </label>
                }
              }

              @if(!teDate.isPeriod1() && !teDate.isPeriod2()) {
                @defining("triggerDefinedContribution") { id =>
                <label class="label--full-length numeric" id="triggerAmountFieldset" for="@id" style="width:150%; display: inline-block;">
                <p style="text-align:left;min-width: 7em">@Messages("paac.post.trigger.amount.input.label")</p>
                    @if(paacForm.hasErrors) {
                    <ul class="error-summary-list">
                        @for(error <- paacForm.errors) {
                        @defining(Seq(taxYear.toString)++error.args) { args =>
                          @if(error.message == "error.required"){
                             <p style="color:#b10e1e;font-weight: bold;">@Messages("te.amount.error.required")</p>
                          } else {
                             <p style="color:#b10e1e;font-weight: bold;">@Messages(error.message)</p>
                          }
                        }
                        }
                    </ul>
                    }
                    <span class="form-hint">@Messages("paac.common.inputfield.example.message")</span>

                      @if(paacForm.data.get("triggerDefinedContribution") != None) {
                          £&nbsp;<input type="text" name="@id" id="@id" min="0" class="input--no-spinner" value='@paacForm.data.get("triggerDefinedContribution")' max="5000000" size="7" style="width:9em;@if(paacForm.errors.find(_.key == id)) {border: 4px solid #b10e1e;}"/>
                      } else {
                          &pound;&nbsp;<input type="text" name="@id" id="@id" min="0" class="input--no-spinner" value='' max="5000000" size="7" style="width:9em;@if(paacForm.errors.find(_.key == id)) {border: 4px solid #b10e1e;}"/>
                      }
                    </label>
                }
              }
                </fieldset>
          </table>
        <button id="submit" type="submit" class="button" value="Continue">@if(isEdit){@Messages("paac.calculator.button.save")}else{@Messages("paac.calculator.button.continue")}</button>
    }
  }
}