@(reviewForm : Form[form.CalculatorFormFields])(implicit request:Request[_])

@import uk.gov.hmrc.play.views.html.helpers._
@import java.math.BigDecimal

@common.paacMain(
pageTitle = Messages("paac.review-amounts.page.heading"),
heading = Messages("paac.review-amounts.page.title"),
mainClass = "main",
articleClasses = Some("full-width"),
backLink = Some((controllers.routes.PensionInputsController.onPageLoad.url,Messages("paac.link.text.back")))
) {
        <p class="lede text">@Messages("paac.review-amounts.paragraph")</p>
        <table>
          <thead>
            <tr>
              <th class="numeric" scope="col"@Messages("paac.review-amounts.heading.period")</th>
              <th class="numeric" scope="col">@Messages("paac.review-amounts.heading.db")</th>
              <th class="numeric" scope="col">@Messages("paac.review-amounts.heading.mp")</th>
              <th class="numeric" scope="col">@Messages("paac.review-amounts.heading.ta")</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
@defining(java.text.NumberFormat.getCurrencyInstance()) { currencyFormatter =>  
  @for(i <- List.range(2006, (new java.util.GregorianCalendar()).get(java.util.Calendar.YEAR)).reverse) {
    @defining(new BigDecimal(reviewForm.data.getOrElse("definedBenefit_"+i,"0.0"))) { db =>
    @defining(new BigDecimal(reviewForm.data.getOrElse("moneyPurchase_"+i,"0.0"))) { mp =>
    @defining(new BigDecimal(reviewForm.data.getOrElse("taperedAllowance_"+i,"0.0"))) { ta =>
    @if(db.intValue() > 0 || ta.intValue() > 0 || mp.intValue() > 0) {
      <tr style="@if(reviewForm.errors.find(_.key == "definedBenefit_"+i) || 
                     reviewForm.errors.find(_.key == "moneyPurchase_"+i) ||
                     reviewForm.errors.find(_.key == "taperedAllowance_"+i)) {color:#b10e1e;}">
        <td class="numeric">@(Contribution(i,0).taxYearLabel())</td>
        <td class="numeric">
          @if(db.intValue() > 0){
            @(currencyFormatter.format(db))
          } else {
            &pound;&nbsp;&ndash;
          } 
        </td>
        <td class="numeric">@if(i > 2014) {
          @if(mp.intValue() > 0){
            @(currencyFormatter.format(mp))
          } else {
            &pound;&nbsp;&ndash;
          }
        } else {
          &pound;&nbsp;&ndash;
        }
        </td>
        <td class="numeric">@if(i > 2015) {
          @if(ta.intValue() > 0){
            @(currencyFormatter.format(ta))
          } else {
            &pound;&nbsp;&ndash;
          }
        } else {
          &pound;&nbsp;&ndash;
        }
        </td>
        <td class="edit_action">
          <a href="edit/@i">@Messages("paac.review-amounts.action.edit") <span class="visuallyhidden">@(Contribution(i,0).taxYearLabel())</span></a>
        </td>
      </tr>
    }
    }
    }
    }
  }
}
          </tbody>
        </table>
  @form(
      action = controllers.routes.ReviewTotalAmountsController.onSubmit,
      args = 'class -> "form", 'autocomplete -> "off", 'novalidate -> "") {
    <button id="submit" type="submit" class="button" value="Continue">@Messages("paac.review-amounts.button.continue")</button>
  }
}