@(pageValues : List[models.Contribution])(implicit request:Request[_])

@import uk.gov.hmrc.play.views.html.helpers._
@import java.math.BigDecimal

@common.paacMain(
pageTitle = Messages("paac.review-amounts.page.heading"),
heading = Messages("paac.review-amounts.page.title"),
mainClass = "main",
articleClasses = Some("full-width"),
backLink = Some((controllers.routes.ReviewTotalAmountsController.onBack.url,Messages("paac.link.text.back")))
) {

@if(pageValues.find(_.moneyPurchase < 0).isDefined) {
  @defining(pageValues.find(_.moneyPurchase < 0).get) { contribution =>
  <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1" style="border: 5px solid #b10e1e;padding: 20px;padding-top: 0px;margin-bottom: 30px;">

    <h1 class="heading-medium error-summary-heading" id="error-summary-heading">@Html(Messages("paac.error.generic"))</h1>
    <ul>
    @if(contribution.isPeriod1) {
    <li>@Html(Messages("paac.review-amounts.error.negative-trigger", Messages("paac.results.taxyearlabel.p1")))</li>
    } else {
      @if(contribution.isPeriod2) {
        <li>@Html(Messages("paac.review-amounts.error.negative-trigger", Messages("paac.results.taxyearlabel.p2")))</li>
      } else {
        <li>@Html(Messages("paac.review-amounts.error.negative-trigger", contribution.taxPeriodStart.taxYear))</li>
      }
    }
    </ul>
  </div>
  }
}

@defining(pageValues.find(_.isTriggered)) { triggerContribution =>
    @defining((triggerContribution.map((tc)=>pageValues.reverse.filterNot((c1)=>c1==tc||c1.isEmpty)).getOrElse(pageValues.reverse.filterNot(_.isEmpty)))) { contributions =>
      @for(year <- (PensionPeriod.EARLIEST_YEAR_SUPPORTED to PensionPeriod.LATEST_YEAR_SUPPORTED).reverse) {
        @if(year == 2015) {
            @defining(triggerContribution.flatMap((tc)=>pageValues.find((c)=>c.isPeriod1 && c != tc)).orElse(pageValues.find(_.isPeriod1))) { c =>
              @if(c.isDefined) {
                @defining(c.get) { contribution =>
                  @if(!contribution.isEmpty) {
                    @contributionReviewTable.table(pageValues, contribution, triggerContribution)
                  }
                }
              }
            } @* End of define c *@
        }

        @if(triggerContribution.isDefined && !contributions.map(_.taxPeriodStart.taxYear).contains(triggerContribution.get.taxPeriodStart.taxYear) && year == triggerContribution.get.taxPeriodStart.taxYear) {
          @defining(triggerContribution.get) { c =>
            @contributionReviewTable.table(pageValues, c, triggerContribution)
          } @* End of define c *@
        } @* End of if trigger defined but not display *@

        @defining(contributions.find(_.taxPeriodStart.taxYear == year)) { c =>
          @if(c.isDefined) {
            @defining(c.get) { contribution =>
              @contributionReviewTable.table(pageValues, contribution, triggerContribution)
            } @* End of define contribution *@
          } @* End of if contribution found *@
        } @* End of define c *@
      } @* End of for *@
    } @* End of define contributions *@
} @* End of define triggerContribution *@

@form(action = controllers.routes.ReviewTotalAmountsController.onSubmit, args = 'class -> "form", 'autocomplete -> "off", 'novalidate -> "") {
<button id="submit" type="submit" class="button" value="Continue">@Messages("paac.review-amounts.button.continue")</button>
} @* End of form *@
} @* End of common.paacMain *@
