@(paacForm : Form[form.SelectSchemeModel])(implicit request:Request[_])

@import uk.gov.hmrc.play.views.html.helpers._

@common.paacMain(
pageTitle = Messages("paac.scheme.selection.pagetitle"),
heading = Messages("paac.scheme.selection.heading"),
backLink = Some((controllers.routes.StartPageController.startPage.url,Messages("paac.link.text.back")))
) {
<br>
    @form(
        action = controllers.routes.SelectSchemeController.onSubmit,
        args = 'class -> "form", 'autocomplete -> "off", 'novalidate -> "") {

    <div class='form-group'>

        <fieldset class="inline">
            @checkbox.singleCheckbox(
                paacForm("definedContribution"),
                '_label -> Html(Messages("paac.scheme.selection.dc.label"))
            )
        </fieldset>
        <fieldset class="inline">
            @checkbox.singleCheckbox(
                paacForm("definedBenefit"),
                '_label -> Html(Messages("paac.scheme.selection.db.label"))
            )
        </fieldset>

    </div>
    <br/>
    <button id="submit" type="submit" class="button" value="Continue">@Messages("paac.calculator.button.continue")</button>
    } @* End of HTML Form block *@
} @* End of paacMain block *@