@(paacForm : Form[String])(implicit request:Request[_])

@import uk.gov.hmrc.play.views.html.helpers._

@common.paacMain(
pageTitle = Messages("paac.scheme.selection.pagetitle"),
heading = Messages("paac.scheme.selection.heading"),
backLink = Some((controllers.routes.StartPageController.startPage.url,Messages("paac.link.text.back")))
) {
<br>
    <p id="paac-scheme-selection-p1">@Messages("paac.scheme.selection.p1")</p>
    <p id="paac-scheme-selection-p2">@Messages("paac.scheme.selection.p2")</p>

    @form(
        action = controllers.routes.SelectSchemeController.onSubmit,
        args = 'class -> "form", 'autocomplete -> "off", 'novalidate -> "") {

    <div class='form-group'>
        <fieldset class="inline">
            <label for="scheme-type" class="block-label add-focus selected">
                <input id="scheme-type" type="radio" name="schemeType" value="dc" checked >
                @Messages("paac.scheme.selection.dc.label")
            </label><BR/><BR/><BR/>
            <label for="scheme-type" class="block-label">
                <input id="scheme-type" type="radio" name="schemeType" value="db" disabled>
                @Messages("paac.scheme.selection.db.label")
            </label><BR/><BR/><BR/>
            <label for="scheme-type" class="block-label">
                <input id="scheme-type" type="radio" name="schemeType" value="dbdb" disabled>
                @Messages("paac.scheme.selection.dcdb.label")
            </label>
        </fieldset>

    </div>
    <br/>
    <button id="submit" type="submit" class="button" value="Continue">@Messages("paac.calculator.button.continue")</button>
    }
}