@(content: String)(implicit request: Request[_])

@import uk.gov.hmrc.play.views.html.helpers._

@common.paacMain(
pageTitle = Messages("paac.calculator.homepage.pagetitle"),
heading = Messages("paac.calculator.startpage.heading")){

<p class="lede text">@Messages("paac.calculator.startpage.p1")</p>
<p class="lede text">@Messages("paac.calculator.startpage.p2")</p>

@form(
action = controllers.routes.StartPageController.onSubmit,
args = 'class -> "form", 'autocomplete -> "off", 'novalidate -> "") {
<button id="Start" class="button button-start" value="Continue" role="button">@Messages("paac.calculator.startpage.button")</button>
}
}
