@(content: String)(implicit request: Request[_])

@import uk.gov.hmrc.play.views.html.layouts
@import uk.gov.hmrc.play.views.html.{helpers => uiHelpers}
@import config._

@import uk.gov.hmrc.play.views.html.helpers._

@common.paacMain(
pageTitle = Messages("paac.calculator.homepage.pagetitle"),
heading = Messages("paac.calculator.homepage.pagetitle")){

<p class="lede text">@Messages("paac.calculator.homepage.pagetitle")</p>
<button id="Continue" type="Continue" class="button" value="Continue">@Messages("paac.calculator.button.continue")</button>
}
