@(paacForm : Form[String])(implicit request:Request[_])

@import uk.gov.hmrc.play.views.html.helpers._

@common.paacMain(
pageTitle = Messages("paac.1516.period2.yesno.pagetitle"),
heading = Messages("paac.1516.period2.yesno.question"),
backLink = Some((controllers.routes.PensionInputs1516P1Controller.onPageLoad.url,Messages("paac.link.text.back")))
) {

    @form(
        action = controllers.routes.YesNo1516Period2Controller.onSubmit,
        args = 'class -> "form", 'autocomplete -> "off", 'novalidate -> "") {

    <div class='form-group'>

        <div class='form-group'>
            <fieldset class="inline">
                @inputRadioGroup(
                    paacForm("yesNo"), Seq(
                        ("Yes", Messages("paac.1516.yesno.yes")),
                        ("No", Messages("paac.1516.yesno.no"))
                        ),
                        '_legend -> Messages("paac.1516.period2.yesno.question"),
                        '_legendClass -> "hidden",
                        '_labelAfter -> true,
                        '_labelClass -> "block-label",
                        '_groupClass -> "inline-block"
                )
            </fieldset>
        </div>

    </div>
    <br/>
    <button id="submit" type="submit" class="button" value="Continue">@Messages("paac.calculator.button.continue")</button>
    }
}