@(paacForm : Form[String])(implicit request:Request[_])

@import uk.gov.hmrc.play.views.html.helpers._

@common.paacMain(
pageTitle = Messages("paac.1516.period2.yesno.pagetitle"),
heading = Messages("paac.1516.period2.yesno.question"),
backLink = Some((controllers.routes.PensionInputs1516P1Controller.onPageLoad.url,Messages("paac.link.text.back")))
) {

    @form(
        action = controllers.routes.YesNo1516Period2Controller.onSubmit,
        args = 'class -> "form", 'autocomplete -> "off", 'novalidate -> "") {

    <div class='form-group'>

        <div class='form-group'>
            <fieldset class="inline">
                <label for="yesno-yes" class="block-label">
                    <input id="yesno-yes" type="radio" name="yesNo" value="Yes">
                    @Messages("paac.1516.yesno.yes")
                </label>
                <label for="yesno-no" class="block-label">
                    <input id="yesno-no" type="radio" name="yesNo" value="No">
                    @Messages("paac.1516.yesno.no")
                </label>
            </fieldset>
        </div>

    </div>
    <br/>
    <button id="submit" type="submit" class="button" value="Continue">@Messages("paac.calculator.button.continue")</button>
    }
}